body {
	background-image: url("../img/sWarsbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;


}

* {
    box-sizing: border-box;
}

.container {
    margin-left: 0px;
}
.card {
    display: inline-block;
    font-size: 10px;
    border: 3px solid green;
}

.charactorNames {
    text-align: center;
    font-size: 15px;
    padding-bottom: 0px;
}

.kylo {
    height: 88.78px;
}

.name {
    text-align: center;
    padding-bottom: 50px;
    color: black;
}

.photo {
  display: block;
  margin-top: 0px;
  
}

.color {
    color: white;
}

